<section>
    <div class="container">

				<h3>Contact me:</h3>
					<ul class="icons">
						<li><a href="mailto:contactdeveshanand@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                        <li><a href="https://www.instagram.com/dev_anand_here/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://twitter.com/deveshanand18" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.quora.com/profile/Devesh-Anand-7" target="_blank" class="icon brands fa-quora"><span class="label">Quora</span></a></li>
                    </ul>   
    </div>
</section>