<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/dpfnl.JPG" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Devesh Anand</a></h1>
            <p>Ever heard about existential crisis? 
                I Think I'm going through it<br />
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                        <li><a href="https://twitter.com/deveshanand18" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<!--<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
						<li><a href="https://www.instagram.com/dev_anand_here/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<!-- <li><a href="https://github.com/devesh-anand" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>  -->
						<li><a href="mailto:contact@deveshanand.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

