---
layout: default
---
<section>
    <div class="container">
        <header class="major">
            <h2>{{ page.title }}</h2>
            <h3>{{ page.subtitle }}</h3>
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

        <footer>
            {% if page.previous %}
            <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
            {% if page.next %}
            <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
        </footer>
        {% include share-bar.html %}
        
        {% if page.comments == true %}
            {% include comments.html %}
        {% endif %}
    </div>

</section>
</html>